@model MVC_Garage_2._0.Models.Member

@{
    ViewBag.Title = "Error";
}

<div class="col-xs-6">
    <h2>No member is currently registered !</h2>





</div>

<div>
    <p>
        @Html.ActionLink("New Member", "Create")
    </p>
</div>



