body {
    background-color: azure;
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.jumbotron {
    background-image: url('../Imgs/primary-search-bg.jpg');
    max-width:100%;
    max-height:100%;
    color: white;
}

.receipt {
    border: 5px dashed black;
}

.totalmoney{
    color: red;
    font-weight: bold;
}

.contact img {
    border-radius: 50%;
    height: 200px;
}
.contact {
    text-align: center;
    color: red;
    font-weight: bold;
}

.group-header{
    color: orange;
    font-size: 20px;
    font-weight: bold;
}

.group-header .totalPark{
    text-align:right;
}

.category{
    margin-top: 20px;
}

.category div{
    margin:0;
    padding:0;
}

input.searchtext{
    width: 1000px;
}

.searchpanel{
    margin-top: 20px;
}