@{
    ViewBag.Title = "Contact";
}

<div class="col-xs-6">
    <h2>Contact address</h2>
    <address>
        Lexicon IT Proffs<br />
        Klarabergsviadukten 70, 111 64 Stockholm<br />
        <abbr title="Phone">P:</abbr>
        010-330 14 00
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:sunissa@example.com">sunissa@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:deidre@example.com">deidre@example.com</a>
    </address>


</div>
<div class="col-xs-6 contact">
    <h3>Executive team</h3>
    <div>
        <img src="~/Imgs/ceo1.jpg" alt="ceo1" />
        <p>CEO</p>
    </div>
    <div>
        <img src="~/Imgs/CEO2.jpg" alt="ceo2" />
        <p>CTO</p>
    </div>
    
</div>